.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }

/*BTN*/
.btn-download       { background-color:#ee2727; color:#fff; border-radius: 50px; font-family: 'open_sansregular'; padding: 0.5em 0.8em; display:block; float: none; text-decoration: none; margin: auto; width:100%; font-size: 1.5em; text-align: center; line-height: 40px; }
.btn-download:hover { background-color:#d00f0f; color:#fff; }

/*HEADER*/
.main_header          {
background:rgb(0, 0, 0); border-bottom:1px #f4f4f4 solid; z-index:1; padding:0em; }
.main_header .content { float:left; padding:0px 0; }

.fixed                { display:block; position:fixed; z-index:9;  }
.main_header_logo     { float:left; width:158px;  }
.main_header_logo img { height:55px; }

/*Seu Código*/
.section-seu-codigo          { padding:10px 0px; background-color:#f4f4f4; }
.section-seu-codigo .content { float:left; padding:1em 0; }
.section_title               { width: 100%; float:left; margin-bottom:1em; font-size:1.3em; font-weight: 300; text-align: center; border-bottom: 1px #eceaea solid; padding-bottom: 1em; }

.box-artigo   { width:100%; float:left; }

/*Menu Responsivo*/
.menu-fixo { display:none; }

nav {

    background:#ffffff;
    z-index:1;
    width: 35%;
    float: right;
    text-align: right;
    margin: 20px;
    padding: 10px;
}

nav ul {
    list-style:none;
}

nav ul li {
    display:inline-block;
    position: relative;
}

nav ul li:hover {
    
    background:#00bec5;

}

nav ul li a {
    color:#262626;
    display:block;
    text-decoration:none;
    padding:1.1em 1em;
}

nav ul li a:hover {

    color:#ffffff;

}

nav ul li a span {
    margin-right:10px;
}

nav ul li:hover .children {
    display:block;
}

nav ul li .children {
    display: none;
    background:#00bec5;
    position: absolute;
    width:170%;
    z-index:1000;
    text-align:left;
}

nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

nav ul li .children li:hover { background:#262626; color:#ffffff;}

nav ul li .children li a  {
    display: block;
}

nav ul li .children li a span {
    float: right;
    position: relative;
    top:3px;
    margin-right:0;
    margin-left:10px;
}

nav ul li .caret {
    position: relative;
    top:3px;
    margin-left:10px;
    margin-right:0px;
}

@media screen and (max-width: 900px) {


    .menu-fixo {
        display:block;
        width:100%;
        background:#000000;
        position:fixed;

    }

    .menu-fixo .btn-mobile {

        display: block;
        padding: 0.5em 1em;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu-fixo span {

        float: right;
        font-size:25px;

    }

    nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
        overflow: scroll;
        text-align:left;
    }

    nav ul li {
        display: block;
        border-bottom:1px #f0f0f0 solid;
    }

    nav ul li a {
        display: block;
    }

    nav ul li:hover .children {
        display: none;
    }

    nav ul li .children {
        width: 100%;
        position: relative;
    }

    nav ul li .children li a {
        margin-left:20px;
    }

    nav ul li .caret {
        float: right;
    }
}
/*Menu Responsivo*/

/*FOOTER*/
.main_footer          { background-color:#353535; color:#fff; font-size:0.875em; }
.main_footer .content { padding:3em 0em; }

.main_footer_copy       { background-color:#262626; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p     { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }


/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

.boxBannerTopo { padding:1em 0; }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){


} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){


} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){

 .section-seu-codigo          { padding:20px 0px; }
 .section-seu-codigo .content { width:80%; padding:1em 0; margin:0 10%; }

.btn-download { width:35%; }

}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

 
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){


}
/*Fecha o Responsivo*/
